/*font styles*/
html, body {
  font-family: 'Montserrat', sans-serif;
}

.btn-yellow:hover {
    opacity: 0.8;
    color: white;
}

.btn-yellow:focus {
    background-color: #F57F17;
    border: none;
}

.btn-yellow:active {
    background-color: #F57F17;
    border: none;
}

.btn-yellow {
    background-color: #F9A825;
    color: white;
}

