{% extends 'base.html' %}
{% block content %}
<body>
    <div class="title-container-5">
        <div class="title center-text">
            how's sober-up doing?
        </div>
    </div>
    <div class="btns-container">
        {% if context.user_data.user_type == "alcoholic" %}
            <div class="button small-btn yellow-btn center-text">
                <a href="{{ url_for('my_profile', user_id=context.user_data.user_id) }}">my profile</a>
            </div>
        {% endif %}
        <div class="button small-btn yellow-btn center-text">
                <a href="{{ url_for('statistics.requests') }}">sober-up statistics</a>
        </div>
        <div class="button small-btn white-btn center-text">
                <a href="{{ url_for('login_page') }}">log out</a>
        </div>
    </div>
    <div class="cards-container">
    <div class="errors-container">
        {% for msg in context.msgs %}
            <div class="msg success-msg center-text">{{ msg }}</div>
        {% endfor %}
        {% for error in context.errors %}
            <div class="msg error-msg center-text">{{ error }}</div>
        {% endfor %}
    </div>

    {% for alcoholic in context.alcoholics %}
        {% if (context.user_data.user_type == "alcoholic" and alcoholic[0] == context.user_data.user_id)%}
        {% else %}
        <div class="card">
            <div class="card-icons">
                {% if alcoholic in context.favourite %}
                    <img class="card-icon" src="static/icons/favourite.svg" title="inspector's favourite">
                {%  endif %}
                {% if alcoholic in context.disfavourite %}
                    <img class="card-icon" src="static/icons/disfavourite.svg" title="inspector's disfavourite">
                {% endif %}
                {% if alcoholic in context.friendly and context.user_data.user_type == "alcoholic" %}
                    <img class="card-icon" src="static/icons/friendly.svg" title="most friendly soul">
                {% endif %}
                {% if  alcoholic in context.master and context.user_data.user_type == "alcoholic" %}
                    <img class="card-icon" src="static/icons/master.svg" title="drinking master">
                {% endif %}
                {% if alcoholic in context.quick and context.user_data.user_type == "alcoholic"  %}
                    <img class="card-icon" src="static/icons/quickest.svg" title="quickest legs">
                {% endif %}
                {% if alcoholic in context.amateur and context.user_data.user_type == "alcoholic"  %}
                    <img class="card-icon" src="static/icons/amateur.svg" title="drinking amateur">
                {% endif %}
                <img class="card-icon" src="static/icons/trophy.svg" title="alcoholic's trophies">
            </div>
            {% set img_num = alcoholic[0] % 4 + 1%}
            {% if img_num == 1 %}
                <img class="card-img" src="static/images/ditective.svg">
            {% else %}
                {% if img_num == 2 %}
                <img class="card-img" src="static/images/builder.svg">
            {% else %}
                {% if img_num == 3 %}
                <img class="card-img" src="static/images/nurse.svg">
            {% else %}
                    {% if img_num == 4 %}
                <img class="card-img" src="static/images/navy-officer.svg">
            {% endif %} {% endif %} {% endif %} {% endif %}
            <div class="card-name center-text"> {{ alcoholic[1] }}</div>
            <div class="card-info center-text">
                maximum to drink: {{ alcoholic[2] }}l<br>
                {% if alcoholic[3] %}
                    conscious <br>
                {% else %}
                    fainted <br>
                {% endif %}
                {% if alcoholic[4] %}
                    enclosed in sober-up
                {% else %}
                    free
                {% endif %}
            </div>
            <div class="card-dropdown">
                <div class="button white-btn small-btn center-text">
                    <img class="card-icon" src="static/icons/hi.svg" alt="do action">
                </div>
                <div class="dropdown-content">
                    {% if context.user_data.user_type == "alcoholic" %}
                            <div class="center-text">
                                <form method="POST" role="form" class="dropdown-form">
                                    <input type="hidden" name="user_type" value="{{ context.user_data.user_type }}">
                                    <input type="hidden" name="user_id" value="{{ context.user_data.user_id  }}">
                                    <input type="hidden" name="chosen_alcoholic_id" value="{{ alcoholic[0] }}">
                                    <input type="hidden" name="action" value="invite">

                                    <input type="submit" value="invite for a drink">
                                </form>
                                </div>
                        {% else %}
                            <div class="center-text">
                            <form method="POST" role="form" class="dropdown-form">
                                    <input type="hidden" name="user_type" value="{{ context.user_data.user_type }}">
                                    <input type="hidden" name="user_id" value="{{ context.user_data.user_id  }}">
                                    <input type="hidden" name="chosen_alcoholic_id" value="{{ alcoholic[0] }}">
                                    <input type="hidden" name="action" value="enclose">

                                    <input type="submit" value="enclose in sober-up">
                                </form>
                            </div>
                            <div class="center-text">
                            <form method="POST" role="form" class="dropdown-form">
                                    <input type="hidden" name="user_type" value="{{ context.user_data.user_type }}">
                                    <input type="hidden" name="user_id" value="{{ context.user_data.user_id  }}">
                                    <input type="hidden" name="chosen_alcoholic_id" value="{{ alcoholic[0] }}">
                                    <input type="hidden" name="action" value="release">

                                    <input type="submit" value="release">
                                </form>
                            </div>
                            <div class="center-text">
                            <form method="POST" role="form" class="dropdown-form">
                                    <input type="hidden" name="user_type" value="{{ context.user_data.user_type }}">
                                    <input type="hidden" name="user_id" value="{{ context.user_data.user_id  }}">
                                    <input type="hidden" name="chosen_alcoholic_id" value="{{ alcoholic[0] }}">
                                    <input type="hidden" name="action" value="move">

                                    <input type="submit" value="move beds">
                                </form>
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</body>
{% endblock %}