<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="static/style/shared_styles.css">
    <link rel="stylesheet" href="static/style/app_styles.css">

    <title>sober-up</title>
</head>
<body>
    <div class="cards-container">
    {% for alcoholic in context.alcoholics %}
        {% if (context.user_data.user_type == "alcoholic" and alcoholic[0] == context.user_data.user_id)%}
        {% else %}
        <div class="card">
            <div class="card-icons">
                {% if alcoholic in context.favourite %}
                    <img class="card-icon" src="static/icons/favourite.svg" title="inspector's favourite">
                {%  endif %}
                {% if alcoholic in context.disfavourite %}
                    <img class="card-icon" src="static/icons/disfavourite.svg" title="inspector's disfavourite">
                {% endif %}
                {% if alcoholic in context.friendly and context.user_data.user_type == "alcoholic" %}
                    <img class="card-icon" src="static/icons/friendly.svg" title="most friendly soul">
                {% endif %}
                {% if  alcoholic in context.master and context.user_data.user_type == "alcoholic" %}
                    <img class="card-icon" src="static/icons/master.svg" title="drinking master">
                {% endif %}
                {% if alcoholic in context.quick and context.user_data.user_type == "alcoholic"  %}
                    <img class="card-icon" src="static/icons/quickest.svg" title="quickest legs">
                {% endif %}
            </div>
            {% set img_num = range(1, 5) | random %}
            {% if img_num == 1 %}
                <img class="card-img" src="static/images/ditective.svg">
            {% else %}
                {% if img_num == 2 %}
                <img class="card-img" src="static/images/builder.svg">
            {% else %}
                {% if img_num == 3 %}
                <img class="card-img" src="static/images/nurse.svg">
            {% else %}
                    {% if img_num == 4 %}
                <img class="card-img" src="static/images/navy-officer.svg">
            {% endif %} {% endif %} {% endif %} {% endif %}
            <div class="card-name center-text"> {{ alcoholic[1] }}</div>
            <div class="card-info center-text">
                maximum to drink: {{ alcoholic[2] }}l<br>
                {% if alcoholic[2] %}
                    conscious
                {% else %}
                    fainted
                {% endif %}
            </div>
            <div class="card-dropdown">
                <div class="button small-btn center-text">🖐</div>
                <div class="dropdown-content">
                    {% if context.user_data.user_type == "alcoholic" %}
                            <div class="center-text">
                                <form method="POST" role="form" class="dropdown-form">
                                    <input type="hidden" name="user_type" value="{{ context.user_data.user_type }}">
                                    <input type="hidden" name="user_id" value="{{ context.user_data.user_id  }}">
                                    <input type="hidden" name="chosen_alcoholic_id" value="{{ alcoholic[0] }}">
                                    <input type="submit" value="invite to drink">
                                </form>
                                </div>
                        {% else %}
                            <div class="center-text">
                            <form method="POST" role="form" class="dropdown-form">
                                    <input type="hidden" name="user_type" value="{{ context.user_data.user_type }}">
                                    <input type="hidden" name="user_id" value="{{ context.user_data.user_id  }}">
                                    <input type="hidden" name="chosen_alcoholic_id" value="{{ alcoholic[0] }}">
                                    <input type="submit" value="enclose in sober-up">
                                </form>
                            </div>
                            <div class="center-text">
                            <form method="POST" role="form" class="dropdown-form">
                                    <input type="hidden" name="user_type" value="{{ context.user_data.user_type }}">
                                    <input type="hidden" name="user_id" value="{{ context.user_data.user_id  }}">
                                    <input type="hidden" name="chosen_alcoholic_id" value="{{ alcoholic[0] }}">
                                    <input type="submit" value="release">
                                </form>
                            </div>
                            <div class="center-text">
                            <form method="POST" role="form" class="dropdown-form">
                                    <input type="hidden" name="user_type" value="{{ context.user_data.user_type }}">
                                    <input type="hidden" name="user_id" value="{{ context.user_data.user_id  }}">
                                    <input type="hidden" name="chosen_alcoholic_id" value="{{ alcoholic[0] }}">
                                    <input type="submit" value="move beds">
                                </form>
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</body>
</html>