{% extends 'base.html' %}
{% block content %}
<body>
    <div class="relative-container">
        <div class="title-container-10">
            <div class="title center-text">
                welcome to sober-up!
            </div>
        </div>
        {% if error %}
            <div class="error-msg center-text">
            {{ error }}
            </div>
        {% endif %}
        <div class="center width-60">
            <form method="POST" role="form" class="login-form">
                <label for="user_type">
                    <span class="label">user type</span>
                    <select name="user_type">
                        <option value="alcoholic">alcoholic</option>
                        <option value="inspector">inspector</option>
                    </select>
                </label>
                <label for="user-id">
                    <span class="label">user id</span>
                    <input class="form-inp" name="user_id" type="text" placeholder="user id">
                </label>
                <input class="button yellow-btn" type="submit" value="log in">
            </form>
        </div>
    </div>
</body>
{% endblock %}
