<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="static/style/shared_styles.css">
    <link rel="stylesheet" href="static/style/app_styles.css">

    <title>sober-up</title>
</head>
<body>
    <div class="relative-container">
        <div class="center">
            <form>
                <select name="user-type">
                    <option value="alcoholic">alcoholic</option>
                    <option value="inspector">inspector</option>
                </select>
                <input class="form-inp" name="user-id" type="text" placeholder="id">
                <input class="small-btn button" type="submit" value="log in">
            </form>
        </div>
    </div>
</body>
</html>