<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/style/shared_styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Hello, world!</title>
</head>
<body>
{#1 request#}
<div class="button yellow-btn">
    <a href="{{ url_for('home') }}">back home</a>
</div>

<div class="jumbotron mb-4">
    <h4 class="text-justify">All inspectors who took alcoholic to the sobering-up station at least N
        times during the specified period (from date F to date T)</h4>
    <form method="POST" role="form" class="form-horizontal">
        <div class="form-row">
            <div class="form-group col-md-3  col-lg-2 text-center">
                <label for="date_from">Date from</label>
                <input id='date_from' type="date" class="form-control" name="date_from" placeholder="F">
            </div>
            <div class="form-group col-md-2 col-lg-2 text-center">
                <label for="date_to">Date to</label>
                <input id="date_to" type="date" class="form-control" name="date_to" placeholder="T">
            </div>
            <div class="form-group col-md-3 text-center">
                <label for="name">The full name of the alcoholic</label>

                <input id="name" type="text" class="form-control" name="name" placeholder="Jolie Singleton">
            </div>
            <div class="form-group col-md-3 col-lg-2 text-center">
                <label for="qty">Number of times</label>
                <input id="qty" type="number" class="form-control" name="qty">
            </div>
            <div class="col-md-1 col-lg-3 align-self-end">
                <button type="submit" class="btn btn-yellow form-control "
                        style="margin-bottom: 16px" name="btn" value="request1">Search
                </button>
            </div>
        </div>
    </form>

</div>
{#2 request#}
<div class="jumbotron mb-4">
    <h4 class="text-justify">All the beds of the sobering-up room where he fought for the specified period (with dates F
        after date T);</h4>
    <form method="POST" role="form" class="form-horizontal">
        <div class="form-row">
            <div class="form-group col-md-3  text-center">
                <label for="date_from">Date from</label>
                <input id='date_from' type="date" class="form-control" name="date_from" placeholder="F">
            </div>
            <div class="form-group col-md-3  text-center">
                <label for="date_to">Date to</label>
                <input id="date_to" type="date" class="form-control" name="date_to" placeholder="T">
            </div>
            <div class="form-group col-md-3 text-center">
                <label for="name">The full name of the alcoholic</label>

                <input id="name" type="text" class="form-control" name="name" placeholder="Jolie Singleton">
            </div>
            <div class="col-md-3 align-self-end">
                <button type="submit" class="btn btn-yellow form-control " style="margin-bottom: 16px" name="btn"
                        value="request2">Search
                </button>
            </div>
        </div>
    </form>

</div>
{#3 request#}
<div class="jumbotron mb-4">
    <h4 class="text-justify">All alcoholics whom inspector took away at least N times for the specified period (from
        date F to date T)</h4>
    <form method="POST" role="form" class="form-horizontal">
        <div class="form-row">
            <div class="form-group col-md-2  col-xl-2 text-center">
                <label for="date_from">Date from</label>
                <input id='date_from' type="date" class="form-control" name="date_from" placeholder="F">
            </div>
            <div class="form-group col-md-2 col-xl-2 text-center">
                <label for="date_to">Date to</label>
                <input id="date_to" type="date" class="form-control" name="date_to" placeholder="T">
            </div>
            <div class="form-group col-md-4  col-xl-2 text-center">
                <label for="i_name">The full name of the inspector</label>

                <input id="i_name" type="text" class="form-control" name="i_name" placeholder="Lane Mosley">
            </div>
            <div class="form-group col-md-3 col-xl-3 text-center">
                <label for="qty">Number of times</label>
                <input id="qty" type="number" class="form-control" name="qty">
            </div>
            <div class="col-md-1 col-xl-3 align-self-end">
                <button type="submit" class="btn btn-yellow form-control " style="margin-bottom: 16px" name="btn"
                        value="request3">Search
                </button>
            </div>
        </div>
    </form>

</div>
{#4 request#}
<div class="jumbotron mb-4">
    <h4 class="text-justify">All the beds in the sobering-up room from which alcoholic escaped during the specified
        period (from date F to date T)</h4>
    <form method="POST" role="form" class="form-horizontal">
        <div class="form-row">
            <div class="form-group col-md-3  text-center">
                <label for="date_from">Date from</label>
                <input id='date_from' type="date" class="form-control" name="date_from" placeholder="F">
            </div>
            <div class="form-group col-md-3  text-center">
                <label for="date_to">Date to</label>
                <input id="date_to" type="date" class="form-control" name="date_to" placeholder="T">
            </div>
            <div class="form-group col-md-3 text-center">
                <label for="name">The full name of the alcoholic</label>

                <input id="name" type="text" class="form-control" name="name" placeholder="Jolie Singleton">
            </div>
            <div class="col-md-3 align-self-end">
                <button type="submit" class="btn btn-yellow form-control " style="margin-bottom: 16px" name="btn"
                        value="request4">Search
                </button>
            </div>
        </div>
    </form>

</div>
{#5 request#}
<div class="jumbotron mb-4">

    <form method="POST" role="form" class="form-horizontal">
        <div class="form-row">
            <h4 class="text-justify col-md-12 col-xl-6">For alcoholic A to find all the inspectors who took him less
                times than released</h4>
            <div class="form-group col-md-12 col-xl-3 text-center">
                <label for="name">The full name of the alcoholic</label>

                <input id="name" type="text" class="form-control" name="name" placeholder="Jolie Singleton">
            </div>
            <div class="col-md-12 col-lg-3 mx-auto align-self-end">
                <button type="submit" class="btn btn-yellow form-control " style="margin-bottom: 16px" name="btn"
                        value="request5">Search
                </button>
            </div>
        </div>
    </form>
</div>
{#6 request#}
<div class="jumbotron mb-4">
    <h4 class="text-justify">All inspectors who took at least N different alcoholics during the specified period (from
        date F to date T)</h4>
    <form method="POST" role="form" class="form-horizontal">
        <div class="form-row">
            <div class="form-group col-md-3  text-center">
                <label for="date_from">Date from</label>
                <input id='date_from' type="date" class="form-control" name="date_from" placeholder="F">
            </div>
            <div class="form-group col-md-3  text-center">
                <label for="date_to">Date to</label>
                <input id="date_to" type="date" class="form-control" name="date_to" placeholder="T">
            </div>
            <div class="form-group col-md-3 text-center">
                <label for="qty">Number of alcoholics</label>

                <input id="qty" type="number" class="form-control" name="qty">
            </div>
            <div class="col-md-3 align-self-end">
                <button type="submit" class="btn btn-yellow form-control " style="margin-bottom: 16px" name="btn"
                        value="request6">Search
                </button>
            </div>
        </div>
    </form>

</div>
{#7 request#}
<div class="jumbotron mb-4">
    <h4 class="text-justify">All alcoholics who were taken to a sobering-up station at least N times for the specified
        period (from date F to date T)</h4>
    <form method="POST" role="form" class="form-horizontal">
        <div class="form-row">
            <div class="form-group col-md-3  col-xl-3 text-center">
                <label for="date_from">Date from</label>
                <input id='date_from' type="date" class="form-control" name="date_from" placeholder="F">
            </div>
            <div class="form-group col-md-3 col-xl-3 text-center">
                <label for="date_to">Date to</label>
                <input id="date_to" type="date" class="form-control" name="date_to" placeholder="T">
            </div>
            <div class="form-group col-md-3 col-xl-3 text-center">
                <label for="qty">Number of times</label>
                <input id="qty" type="number" class="form-control" name="qty">
            </div>
            <div class="col-md-3 col-xl-3 align-self-end">
                <button type="submit" class="btn btn-yellow form-control "
                        style="margin-bottom: 16px" name="btn" value="request7">Search
                </button>
            </div>
        </div>
    </form>

</div>
{#8 request#}
<div class="jumbotron mb-4">
    <h4 class="text-justify">All common events for alcoholic A and inspector I for the specified period (from date F to
        date T)
    </h4>
    <form method="POST" role="form" class="form-horizontal">
        <div class="form-row">
            <div class="form-group  col-md-3  col-lg-2 col-xl-1 text-center">
                <label for="date_from">Date from</label>
                <input id='date_from' type="date" class="form-control" name="date_from" placeholder="F">
            </div>
            <div class="form-group col-md-2  col-lg-2  col-xl-2 text-center">
                <label for="date_to">Date to</label>
                <input id="date_to" type="date" class="form-control" name="date_to" placeholder="T">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xl-3 text-center">
                <label for="name">The full name of the alcoholic</label>

                <input id="name" type="text" class="form-control" name="name" placeholder="Jolie Singleton">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xl-3 text-center">
                <label for="i_name">The full name of the inspector</label>

                <input id="i_name" type="text" class="form-control" name="i_name" placeholder="Lane Mosley">
            </div>
            <div class="col-md-1 col-lg-2  col-xl-3  align-self-end">
                <button type="submit" class="btn btn-yellow form-control " style="margin-bottom: 16px" name="btn"
                        value="request8">Search
                </button>
            </div>
        </div>
    </form>
</div>
{#9 request#}
<div class="jumbotron mb-4">
    <h4 class="text-justify">For alcoholic A and each alcoholic beverage he consumed, find how many times for the
        specified period (from date F to date T) he drank a drink in a group of at least N alcoholics</h4>
    <form method="POST" role="form" class="form-horizontal">
        <div class="form-row">
            <div class="form-group col-md-2  col-lg-2 text-center">
                <label for="date_from">Date from</label>
                <input id='date_from' type="date" class="form-control" name="date_from" placeholder="F">
            </div>
            <div class="form-group col-md-2 col-lg-2 text-center">
                <label for="date_to">Date to</label>
                <input id="date_to" type="date" class="form-control" name="date_to" placeholder="T">
            </div>
            <div class="form-group col-md-4 col-xl-3 text-center">
                <label for="name">The full name of alcoholic</label>

                <input id="name" type="text" class="form-control" name="name" placeholder="Jolie Singleton">
            </div>
            <div class="form-group col-md-3 col-xl-2 text-center">
                <label for="qty">Number of alcoholics</label>

                <input id="qty" type="number" class="form-control" name="qty">
            </div>
            <div class="col-md-1 col-xl-3 align-self-end">
                <button type="submit" class="btn btn-yellow form-control "
                        style="margin-bottom: 16px" name="btn" value="request9">Search
                </button>
            </div>
        </div>
    </form>

</div>
{#10 request#}
<div class="jumbotron mb-4">

    <form method="POST" role="form" class="form-horizontal">
        <div class="form-row">
            <h4 class="text-justify col-md-12 col-lg-9">The total number of escapes from the sobering-up by months</h4>
            <div class="col-md-12 col-lg-3 mx-auto">
                <button type="submit" class="btn btn-yellow form-control " style="margin-bottom: 16px" name="btn"
                        value="request10">Search
                </button>
            </div>
        </div>
    </form>
</div>
{#11 request#}
<div class="jumbotron mb-4">
    <h4 class="text-justify">All sobering-up beds in descending order of the average number of loss of consciousness for
        all alcoholics brought to bed by Inspector I for the specified period (from date F to date T)
    </h4>
    <form method="POST" role="form" class="form-horizontal">
        <div class="form-row">
            <div class="form-group  col-md-2   col-xl-3 text-center">
                <label for="date_from">Date from</label>
                <input id='date_from' type="date" class="form-control" name="date_from" placeholder="F">
            </div>
            <div class="form-group col-md-2  col-xl-3 text-center">
                <label for="date_to">Date to</label>
                <input id="date_to" type="date" class="form-control" name="date_to" placeholder="T">
            </div>
            <div class="form-group col-md-5 col-xl-3 text-center">
                <label for="i_name">The full name of the inspector</label>

                <input id="i_name" type="text" class="form-control" name="i_name" placeholder="Lane Mosley">
            </div>
            <div class=" col-md-3  col-xl-3  align-self-end">
                <button type="submit" class="btn btn-yellow form-control " style="margin-bottom: 16px" name="btn"
                        value="request11">Search
                </button>
            </div>
        </div>
    </form>
</div>
{#12 request#}
<div class="jumbotron mb-4">
    <h4 class="text-justify">Alcoholic beverages in descending order of the total number of alcoholics
        drank with alcoholic A for the specified period (from date F to date T)</h4>
    <form method="POST" role="form" class="form-horizontal">
        <div class="form-row">
            <div class="form-group col-md-3  text-center">
                <label for="date_from">Date from</label>
                <input id='date_from' type="date" class="form-control" name="date_from" placeholder="F">
            </div>
            <div class="form-group col-md-3  text-center">
                <label for="date_to">Date to</label>
                <input id="date_to" type="date" class="form-control" name="date_to" placeholder="T">
            </div>
            <div class="form-group col-md-3 text-center">
                <label for="name">The full name of the alcoholic</label>
                <input id="name" type="text" class="form-control" name="name" placeholder="Jolie Singleton">
            </div>
            <div class="col-md-3 align-self-end">
                <button type="submit" class="btn btn-yellow form-control "
                        style="margin-bottom: 16px" name="btn"
                        value="request12">Search
                </button>
            </div>
        </div>
    </form>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>